@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

body {
    font-family: 'Fustat', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 5rem;
    width: 100%;
    background-color: #4B50D1;
    margin: 0;
}

.nav-bar-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none ;
    margin: 0;
}
